<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/style.css" />
    <title><%= trip.date %></title>
  </head>
  <body>
    <h1>Here Is Your Trip</h1><a href="/trips/<%= trip._id %>/edit">Edit <%= trip.name %></a>
    <p><%= trip.locationName %> <%= trip.date %></p>
    <p><%= trip.latitude%></p>
    <p><%= trip.longitude%></p>
    <p>Catch Anything? <%= trip.caughtFish %></p>
    <% if (trip.caughtFish) { %>
    <p>Fish: </p>
    <ul>
        <% trip.fishInfo.forEach(banana => { %>
          <li><%= banana.species %>, <%= banana.size %>", <%= banana.tackle %></li>
        <% }); %>
    </ul>
    <a href="/trips/<%=trip._id%>/fish/new">Log a Fish</a>
    <% } %>
    <p>Arrival: <%= trip.timeArrived %></p>
    <p>Departure: <%= trip.timeDeparted %></p>
    <p>Wave Height: <%= trip.weatherInfo[0].waveHeight %> meters</p>
    <p>Wave Direction: <%= trip.weatherInfo[0].waveDirection %> degrees</p>
    <p>Wave Period: <%= trip.weatherInfo[0].wavePeriod %> seconds</p>
    <form action="/trips/<%=trip._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= trip.name %></button>
      </form>
    <br>
    <a href="/trips/">Back to Trips</a>
  </body>
</html>