<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= trip.date %></title>
  </head>
  <body>
    <h1>Here Is Your Trip</h1><a href="/trips/<%= trip._id %>/edit">Edit <%= trip.name %></a>
    <p><%= trip.locationName %> <%= trip.date %></p>
    <p><%= trip.locationCoord %></p>
    <p>Catch Anything? <%= trip.caughtFish %></p>
    <% if (trip.caughtFish) { %>
    <a href="/trips/<%=trip._id%>/fish/new">Log a Fish</a>
    <% } %>
    <p>Arrival: <%= trip.timeArrived %></p>
    <p>Departure: <%= trip.timeDeparted %></p>
    <form action="/trips/<%=trip._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete <%= trip.name %></button>
      </form>
    <br>
    <a href="/trips/">Back to Trips</a>
  </body>
</html>